<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <InputSet
    id="SampleInputSet">
    <TextInput
      id="test"
      value="&quot;test&quot;"/>
    <CheckBoxInput
      editable="true"
      id="TestCheckbox"
      label="&quot;in July Release&quot;"
      value="true"/>
  </InputSet>
</PCF>